{% extends "layout.html" %}

{% block body %}
<style>
  .box-1 {
    display: none;
  }
</style>

<div class="Security my-5" >
    <div class="col-md-12 mt-5">
        <h3 style="text-align:center;"><b>Important Contacts and Helpline Number<b></h3>
        <br><br>
        <div class="container row">
            <div class="col">
                
                <div class="col-md-12 h-100 p-5 border rounded-3 bg2-colo2">
                    <a href="https://www.delhimetrorail.com/">
                    <img src="/static/images/help-logo.jpeg" alt="dmrchelp" width="140" height="140" class="my-3" style="display:flex;margin: auto; border-radius:70%;"></a>
                    <h3>DMRC 24x7 Helpline</h3>
                    <p class="mt-2"><i class="fa fa-phone">&nbsp;</i> : 155370</p>
                    <p><i class="fa fa-envelope-o">&nbsp;</i>: helpline@dmrc.org</p>
                </div>
                
            </div>
            <div class="col">
                <div class="col-md-12 h-100 p-5  border rounded-3 bg2-colo2">
                    <a href="https://www.cisf.gov.in/cisfeng/">
                    <img src="/static/images/cisf.jpeg" alt="cisf" width="140" height="140" class="my-3 conimg" style="display:flex;margin: auto;"></a>
                    <h3>CISF Helpline</h3>
                    <p class="mt-2"><i class="fa fa-phone">&nbsp;</i> : 155655</p>
                    <p><i class="fa fa-envelope-o">&nbsp;</i>: delpol.service@delhipolice.gov.in</p>
                </div>
            </div>
        </div>
        <br>
        <div class="container row">
            <div class="col">
                <div class="col-md-12 h-100 p-5  border rounded-3 bg2-colo2">
                    <a href="https://delhipolice.gov.in/">
                    <img src="/static/images/police.jpeg" alt="delhipolice" width="140" height="140" class="my-3 conimg" style="display:flex;margin: auto;"></a>
                    <h3>Delhi Police </h3>
                    <p class="mt-2"><i class="fa fa-phone">&nbsp;</i> : 112</p>
                    <p><i class="fa fa-envelope-o">&nbsp;</i>: delpol.service@delhipolice.gov.in</p>
                </div>
            </div>
            <div class="col">
                <div class="col-md-12 h-100 p-5 border rounded-3 bg2-colo2">
                    <a href="http://ncw.nic.in/ncw-cells/Women-Safety-Cell">
                    <img src="/static/images/women.jpeg" alt="women" width="140" height="140" class="my-3 conimg" style="display:flex;margin: auto;"></a>
                    <h3>Women Helpline</h3>
                    <p class="mt-2"><i class="fa fa-phone">&nbsp;</i> : 1091</p>
                    <p><i class="fa fa-envelope-o">&nbsp;</i>: complaintcell-ncw@nic.in</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    