{% extends "layout.html" %}

{% block body %}
    


<div class="box-2 col-sm" style="min-width: 550px;">
    <link rel="stylesheet" href="/static/style_route.css">
        <div class="containerx">
            <!-- <div style="box-shadow: 0px 3px 10px rgb(187, 187, 187); margin-bottom:5%; padding: 20px 0; "> -->
                
                <div class="fare-time px-3">
                    <h6 > <i class="fa-regular fa-clock"> : {{dict['time']|int}} min</i>  </h6>
                    <h6 style="display:inline-block;"> <i style="display:inline-block;" class="fa-sharp fa-solid fa-indian-rupee-sign icon"> : <span style="display:inline-block;">{{cost}}</span> </i>  </h6>&nbsprupees
                </div>
            <!-- </div>      -->

            

            {% set count = namespace(value=0) %}
            {% set count2 = namespace(value=0) %}
            <ul class="path-box" >
                <h4 style="margin-left: 20px;"><u> Transportation line</u> </h4>
                {% for i in range(0, dict['path']|length ) %}
                
                    <li>
                        {% set color = dict['line2'][count2.value] %}
        
 
                        {% if dict['interchange'][count.value]==dict['path'][i] %}
                            <span id="interchange">---interchange</span>
                            {% set count.value = count.value + 1 %}
                            {% set count2.value = count.value - 1 %}
                            
                        {% endif %}
        
                        {% if count.value == 0 %}
                            {% set color = dict['line1'][0] %}
                        {% endif %}
                        {% if color == "violet" %}
                            {% set color = "#800080" %}
                        {% endif %}
                        {% if color == "Airport Express" %}
                            {% set color = "#f56200" %}
                        {% endif %}
                        {% if color == "red" %}
                            {% set color = "#FF0000" %}
                        {% endif %}
                        {% if color == "pink" %}
                            {% set color = "#FA8072" %}
                        {% endif %}
                        {% if color == "magenta" %}
                            {% set color = "#FF00FF" %}
                        {% endif %}
                        {% if color == "greenbranch" %}
                            {% set color = "#008000" %}
                        {% endif %}
                        {% if color == "bluebranch" %}
                            {% set color = "#0000FF" %}
                        {% endif %}
                        {% if color == "1.2km Skywalk" %}
                            {% set color = "#f56200" %}
                        {% endif %}

                        <div class="bullet" style="background:{{ color }};"></div>
                        <span style="border-color:{{ color }};"> {{dict['path'][i]}} </span>
                    </li>
                {% endfor %}
            </ul>
    </div>
  </div>



<!-- {{ destination }} -->

{% endblock %}
