{% extends "layout.html" %}

{% block body %}
<style>
  .box-1 {
    display: none;
  }
</style>

  <div class="comcent my-4">
    <div class="row ">
      <div class="col-lg-5 container border rounded p-4 bg1-colo4">
        <img src="/static/images/ekas.jpeg" alt="Ekas" width="140" height="140" class="conimg">
        <h2 class="fw-normal">Ekaspreet Singh</h2>
        <h4>Full Stack Web Devloper</h4>
        <p class="mt-2"><i class="fa fa-phone">&nbsp;</i> : 9599151373</p>
        <p><i class="fa fa-envelope-o">&nbsp;</i>: ekaspreet99@gmail.com</p>
        <p><a class="btn btn-danger" href="https://www.linkedin.com/in/ekaspreet-singh-a979bb195/">Connect »</a></p>
      </div>
    <div class="col-lg-5 container mb-4 border rounded p-4 bg1-colo1">
      <img src="/static/images/ansh.jpg" alt="Ansh" width="140" height="140" class="conimg">
      <h2 class="fw-normal">Anshdeep Singh</h2>
      <h4>Full Stack Web Devloper</h4>
      <p class="mt-2"><i class="fa fa-phone">&nbsp;</i> : 8750427772</p>
      <p><i class="fa fa-envelope-o">&nbsp;</i>: mailtoguransh@gmail.com</p>
      <p><a class="btn btn-danger" href="https://www.linkedin.com/in/anshdeep-singh-5763091ba/">Connect »</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 container border rounded p-4 bg1-colo3">
      <img src="/static/images/bharat.jfif" alt="Bharat" width="140" height="140" class="conimg">
      <h2 class="fw-normal">Bharat Budhori</h2>
      <h4>Mobile Devloper</h4>
      <p class="mt-2"><i class="fa fa-phone">&nbsp;</i> : 8076423580</p>
      <p><i class="fa fa-envelope-o">&nbsp;</i>: bharatbudhori17@gmail.com</p>
      <p><a class="btn btn-danger" href="https://www.linkedin.com/in/bharat-budhori/">Connect »</a></p>
    </div>
    <div class="col-lg-5 container mb-4 border rounded p-4 bg1-colo2">
      <img src="/static/images/bhagavath.jfif" alt="Bms" width="140" height="140" class="conimg">
      <h2 class="fw-normal">Bhagavath M S</h2>
      <h4>Python Devloper, DBA</h4>
      <p class="mt-2"><i class="fa fa-phone">&nbsp;</i> : 8851215415</p>
      <p><i class="fa fa-envelope-o">&nbsp;</i>: msbhagavath@gmail.com</p>
      <p><a class="btn btn-danger" href="https://www.linkedin.com/in/bhagavath-m-s-0aa482217/">Connect »</a></p>
    </div>
  </div>
</div>

{% endblock %}